#header #allContainer {
  position: relative;
  min-height: 100%;
}
#header #headerCanvas {
  position: absolute;
  top: 0; left: 0;
  z-index: -2;
}
#header #earthToBob {
  display: none;
}
#header #earthToBob > div {
  display: inline-block;
  position: relative;
  text-align: center;
  margin-right: 2px;
  transition: background-color 0.5s, color 2s;
}
#header .bg {
  color: rgba(0,0,0,0);
  transition: background-color 0.5s, color 2s;
}
#header #homeBtn {
  position: absolute;
  top: 10px; left: 25px;
  width: 425px;
  height: 30px;
  cursor: pointer;
}
