body {
  background: url('../gfx/paper_fibers.png');
  font-family: Tahoma;
}
#allContainer {
  position: relative;
  min-height: 100%;
}
#headerCanvas {
  position: absolute;
  top: 0; left: 0;
  z-index: -1;
}
#earthToBob {
  padding-left: 18px;
  font-size: 22px;
  display: none;
}
#earthToBob > div {
  display: inline-block;
  position: relative;
  top: 1px;
  text-align: center;
  line-height: 23px;
  height: 23px;
  width: 23px;
  margin-right: 2px;
  transition: background-color 0.5s, color 2s;
}
.bg {
  color: rgba(0,0,0,0);
  transition: background-color 0.5s, color 2s;
}
#bobBtn {
  position: absolute;
  top: 10px; left: 250px;
  width: 75px;
  height: 25px;
  cursor: pointer;
}
#mainBody {
  text-align: center;
  margin-top: 200px;
}
#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.2);
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                                ICONS
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
#gitIcon {
  position: absolute;
  border-radius: 100%;
  display: none;
}
#codepenIcon {
  position: absolute;
  border-radius: 100%;
}
#linkedInIcon {
  position: absolute;
}
#twitterIcon {
  position: absolute;
  border-radius: 100%;
}
#contactIcon {
  position: absolute;
  border-radius: 100%;
}
.linkIcon {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity .3s;
}
.linkIcon:hover {
  opacity: 1;
  transition: opacity .2s;
}
