#footer {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  margin-top: 50px;
  color: #555;
  transition: opacity 2s;
}
#footer .footer-table {
  width: 100%;
}
#footer #footer-copy {
  width: 190px;
  font-weight: 400;
  font-family: avenir;
}
#footer .footerLine {
  position: relative;
  top: -11px;
  right: 15px;
  border-bottom: 2px solid rgba(100,149,237,0.5);
}
#footer .left {
  left: 15px;
}
#footer .footerBull {
  color: cornflowerblue;
}
