#allEmojis {
  margin-top: 3px;
}

.highlight-red {
  border: 2px solid red !important;
  background-color: rgba(255, 0, 0, 0.25) !important;
}
.highlight-green {
  border: 2px solid green !important;
  background-color: rgba(0, 255, 0, 0.25) !important;
}
.highlight-blue {
  border: 2px solid blue !important;
  background-color: rgba(0, 0, 255, 0.25) !important;
}
.highlight-gold {
  border: 2px solid gold !important;
  background-color: rgba(255, 255, 0, 0.25) !important;
}
.emoji-grid {
  width: 90%;
  display: grid;
  margin: auto;
  /* grid-template-columns: repeat(8, 1fr); */
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.05);
  border: 3px solid #bfa100;
  border-radius: 10px;
}

.emoji-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}

.emoji-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: none;
}