
@media (max-width: 600px) {

	.emoji-grid {
		gap: 5px !important;
    padding: 5px !important;
	}
	h1 {
		white-space: nowrap;
    padding-top: 8px;
    padding-bottom: 5px;
		font-size: 26px;
		width: 100%;
		box-sizing: border-box;
		line-height: 1.1;
	}
  h3 {
    font-size: 12px;
  }
  .food-name {
    font-size: 14px !important;
  }
  .food-price { 
    font-size: 12px !important; 
  }
  .result-reload svg {
    margin-top: 35px;
    width: 60px !important;
    height: 60px !important;
  }
  #simulateNum {
		font-size: 10px !important;
		padding: 2px 4px !important;
	}
  
}
