
nav {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  height: 230px;
  gap: 10px;
  padding-top: 20px;
}

#startNote {
  color: darkgoldenrod;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
}
#startNote img {
  height: 30px;
  margin-top: -3px;
  padding-left: 10px;
  padding-right: 10px;
}

#items {
  width: 75%;
  display: none;
}

#simulatorResult {
  width: 25%;
}

.item-pill {
  width: 100%;
  height: 50px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0px;
  box-sizing: border-box;
}

#item1 {
  border-bottom: 2px solid rgba(255, 0, 0, 1);
}

#item2 {
  border-bottom: 2px solid rgba(0, 255, 0, 1);
}

#item3 {
  border-bottom: 2px solid rgba(100, 0, 255, 0.5);
}

#item4 {
  border-bottom: 2px solid rgb(214, 214, 32);
}

.food-name {
  font-size: 22px;
  font-weight: bold;
  padding-left: 5px;
}

.food-price {
  margin-left: auto;
  font-weight: bold;
}

/* Results area */
#simulatorResult {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

#simulateNum {
  opacity: 0;
  margin: 10px;
  /* margin: 37px auto 20px auto; */
  /* margin-bottom: 20px; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  background: rgba(0,0,0,0.1);
  border: 1px solid green;
  border-radius: 24px;
  padding: 6px 6px;
  white-space: nowrap;
}

#simulationStatusContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-bottom: 12px;
}

#simulationStatusContainer > div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#simulationPrice {
  min-height: 27px;
  display: flex;
  font-size: 22px;
  align-items: center;
  justify-content: center;
}

#simulateLoader {
  padding-top: 10px;
  min-height: 48px;
  justify-content: center;
}

.result-status {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #000000;
  font-weight: 800;
  font-size: 20px;
  white-space: nowrap;
  transition: opacity 0.5s ease-in;
}

.result-status .icon-x,
.result-status .icon-check {
  display: inline-block;
  padding-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.result-reload {
  width: 48px;
  height: 48px;
  display: grid;
  /* place-items: center; */
  /* margin: 0 auto; */
}

.result-reload svg {
  border-radius: 50%;
  background: rgba(0,0,0,0.1);
  transition: background 0.2s, opacity 0.2s;
  /* padding: 10px; */
  opacity: 0.85;
  width: 100px;
  height: 100px;
  display: block;
  cursor: pointer;
}

.result-reload:hover svg {
  background: rgba(46, 125, 50, 0.25);
  opacity: 1;
}



@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}